<div class="calendar">

  <div class="col col-md-3 output">
    <h1>Predicted Cost</h1>
    <p>Every week price of bananas increase +.05 ¢.</p>

    <hr>

    <h2>Range:</h2>
    <form  [formGroup]="login">
    <kendo-daterange>
      <div class="row">
        <div class="col col-md-6">
          <h3>Start</h3>
          <kendo-dateinput [(value)]="range.start" formControlName="start" kendoDateRangeStartInput></kendo-dateinput>
        </div>
        <div class="col col-md-6">
          <h3>End</h3>
          <kendo-dateinput [(value)]="range.end" formControlName="end" kendoDateRangeEndInput></kendo-dateinput>
        </div>
      </div>
    </kendo-daterange>
  </form>
    <hr>
    <h2>Total:</h2>
    <h4 *ngIf="total">{{total}} ¢</h4>
  </div>
</div>